## How to load, convert, and write JSON files in Python
First, I load the packages we'll need

In [1]:
import numpy as np
import pandas as pd
import json
import requests

### The difference between lists and sets
A list is denoted by square braces `[` and `]`. The order of the elements matters, and elements can be repeated, but are not given names.

In [2]:
my_list = [5,8,-9]
my_list[0]

5

A set is denoted by curly braces `{` and `}`. The order of the elements does not matter (it sorts the elements automatically), it doesn't allow repetition, and it allows the elements to be named. A set is only subscriptable if it has names for the elements.

In [3]:
my_set = {5,8,-9}
my_set

{-9, 5, 8}

In [4]:
my_set = {'larry':5, 'curly':8, 'moe':-9}
my_set['larry']

5

### Memory
JSON files tend to take up more space than CSV because of the space needed to store column names and for extra formatting characters.

In [5]:
from sys import getsizeof
anes_csv = requests.get("https://raw.githubusercontent.com/NovaVolunteer/Practice_Application_DS/master/Week%205/anes_example.csv")
anes_json = requests.get("https://raw.githubusercontent.com/NovaVolunteer/Practice_Application_DS/master/Week%206/anes.json")

In [6]:
getsizeof(anes_csv.text)

494905

In [7]:
getsizeof(anes_json.text)

2919777

In [8]:
getsizeof(anes_json.text)/getsizeof(anes_csv.text)

5.899671654155848

### JSON is flexible
It can store data structures that are awkward or impossible for CSV, such as:

* Data in which variables are stored with different data types from record to record. In this case, the `pd.read json()` function stores the variables (`fttrump` and `fthrc` in this case) as “object” type data – meaning that it is agnostic about whether the variable contains strings or categories.

In [9]:
anes_json_example = '[{"caseid":1.0,"fttrump":"Awful","fthrc":"Pretty good","birthyr":1960,"gender":1},{"caseid":2.0,"fttrump":28.0,"fthrc":52.0,"birthyr":1957,"gender":2},{"caseid":3.0,"fttrump":100.0,"fthrc":1.0,"birthyr":1963,"gender":1}]'
anes_json = pd.read_json(anes_json_example)
anes_json

   birthyr  caseid        fthrc fttrump  gender
0     1960       1  Pretty good   Awful       1
1     1957       2           52      28       2
2     1963       3            1     100       1

In [10]:
anes_json.dtypes

birthyr     int64
caseid      int64
fthrc      object
fttrump    object
gender      int64
dtype: object

* Data in which different records have different variables. In this case, the `pd.read json()` function creates columns for every variable that appears even once, and places `NaN` values for records that do not address these variables.

In [11]:
anes_json_example = '[{"caseid":1.0,"fttrump":1.0,"turnout":1.0,"vote":1.0},{"caseid":2.0,"fttrump":28.0,"turnout":0.0},{"caseid":3.0,"fttrump":100.0,"turnout":1.0,"vote":0.0,"comment":"big fan of Trump"}]'
anes_json = pd.read_json(anes_json_example)
anes_json

   caseid           comment  fttrump  turnout  vote
0       1               NaN        1        1   1.0
1       2               NaN       28        0   NaN
2       3  big fan of Trump      100        1   0.0

* Data with a tree-based nesting structure

In [12]:
users = pd.read_json("https://jsonplaceholder.typicode.com/users", typ="series")
users[0]

{'id': 1,
 'name': 'Leanne Graham',
 'username': 'Bret',
 'email': 'Sincere@april.biz',
 'address': {'street': 'Kulas Light',
  'suite': 'Apt. 556',
  'city': 'Gwenborough',
  'zipcode': '92998-3874',
  'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
 'phone': '1-770-736-8031 x56442',
 'website': 'hildegard.org',
 'company': {'name': 'Romaguera-Crona',
  'catchPhrase': 'Multi-layered client-server neural-net',
  'bs': 'harness real-time e-markets'}}

### Loading JSON data into Python
If `typ = "series"`, then `pd.read json()` stores the output as a list of dictionaries – and we can call specific elements of that list.

In [13]:
users = pd.read_json("https://jsonplaceholder.typicode.com/users", typ="series")
users[0]

{'id': 1,
 'name': 'Leanne Graham',
 'username': 'Bret',
 'email': 'Sincere@april.biz',
 'address': {'street': 'Kulas Light',
  'suite': 'Apt. 556',
  'city': 'Gwenborough',
  'zipcode': '92998-3874',
  'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
 'phone': '1-770-736-8031 x56442',
 'website': 'hildegard.org',
 'company': {'name': 'Romaguera-Crona',
  'catchPhrase': 'Multi-layered client-server neural-net',
  'bs': 'harness real-time e-markets'}}

In [14]:
users[0]['address']

{'street': 'Kulas Light',
 'suite': 'Apt. 556',
 'city': 'Gwenborough',
 'zipcode': '92998-3874',
 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}

In [15]:
users[0]['address']['geo']

{'lat': '-37.3159', 'lng': '81.1496'}

In [16]:
users[0]['address']['geo']['lat']

'-37.3159'

If `typ="frame"`, then the `pd.read_json()` function outputs a data frame:

In [17]:
url = "https://raw.githubusercontent.com/NovaVolunteer/Practice_Application_DS/master/Week%206/anes.json"
anes_json = pd.read_json(url, orient="records", typ="frame")
anes_json.head()

,africanam10_1,amer_ident,arrested_12mo,arrested_ever,asianam10_1,autism,birthright_a,birthright_b,birthyr,bo_confid,...,warm,warmbad,warmcause,warmdo,wguilt1,wguilt2,wguilt3,white10_1,whitejob,whitework
0,0.0,4,NaN,2.0,0.0,6,NaN,2.0,1960,1.0,...,1,2,1,1,5.0,5.0,5.0,10.0,5.0,5.0
1,0.0,3,2.0,NaN,0.0,5,2.0,NaN,1957,5.0,...,2,2,3,4,5.0,5.0,5.0,10.0,1.0,1.0
2,0.0,1,2.0,NaN,0.0,2,1.0,NaN,1963,1.0,...,2,3,2,7,5.0,5.0,5.0,10.0,1.0,1.0
3,0.0,4,2.0,NaN,0.0,6,7.0,NaN,1980,1.0,...,1,2,1,1,4.0,4.0,4.0,10.0,5.0,3.0
4,0.0,1,NaN,1.0,0.0,6,NaN,5.0,1974,2.0,...,2,3,2,7,5.0,5.0,5.0,0.0,5.0,5.0

`orient="records"` works with JSON files organized as a list-of-sets, where each set is an entire record (or a row in flat data):

In [18]:
url = "https://raw.githubusercontent.com/NovaVolunteer/Practice_Application_DS/master/Week%206/anes_records.json"
anes_json = pd.read_json(url, orient="records", typ="series")
anes_json

0    {'caseid': 1.0, 'fttrump': 1.0, 'fthrc': 76.0,...
1    {'caseid': 2.0, 'fttrump': 28.0, 'fthrc': 52.0...
2    {'caseid': 3.0, 'fttrump': 100.0, 'fthrc': 1.0...
3    {'caseid': 4.0, 'fttrump': 0.0, 'fthrc': 69.0,...
4    {'caseid': 5.0, 'fttrump': 13.0, 'fthrc': 1.0,...
dtype: object

`orient="columns"` works with JSON files organized as a list-of-sets, where each set is an entire column (the names are the row-names in the flat data)

In [19]:
url = "https://raw.githubusercontent.com/NovaVolunteer/Practice_Application_DS/master/Week%206/anes_columns.json"
anes_json = pd.read_json(url, orient="columns", typ="series")
anes_json

caseid     {'0': 1.0, '1': 2.0, '2': 3.0, '3': 4.0, '4': ...
fttrump    {'0': 1.0, '1': 28.0, '2': 100.0, '3': 0.0, '4...
fthrc      {'0': 76.0, '1': 52.0, '2': 1.0, '3': 69.0, '4...
birthyr    {'0': 1960, '1': 1957, '2': 1963, '3': 1980, '...
gender              {'0': 1, '1': 2, '2': 1, '3': 1, '4': 1}
dtype: object

`orient="split"` works with JSON files organized as set with three lists: columns lists the column names, index lists the row names, and data is a list-of-lists of data points, one list for each row.

In [20]:
url = "https://raw.githubusercontent.com/NovaVolunteer/Practice_Application_DS/master/Week%206/anes_split.json"
anes_json = pd.read_json(url, orient="split") #note: can't load split JSON as typ="series", only typ="frame" (the default)
anes_json

   caseid  fttrump  fthrc  birthyr  gender
0       1        1     76     1960       1
1       2       28     52     1957       2
2       3      100      1     1963       1
3       4        0     69     1980       1
4       5       13      1     1974       1

`orient="index"` is like `orient="records"` but includes the name of each row in the data:

In [21]:
url = "https://raw.githubusercontent.com/NovaVolunteer/Practice_Application_DS/master/Week%206/anes_index.json"
anes_json = pd.read_json(url, orient="index", typ="series")
anes_json

0    {'caseid': 1.0, 'fttrump': 1.0, 'fthrc': 76.0,...
1    {'caseid': 2.0, 'fttrump': 28.0, 'fthrc': 52.0...
2    {'caseid': 3.0, 'fttrump': 100.0, 'fthrc': 1.0...
3    {'caseid': 4.0, 'fttrump': 0.0, 'fthrc': 69.0,...
4    {'caseid': 5.0, 'fttrump': 13.0, 'fthrc': 1.0,...
dtype: object

`orient="values"` only contains the datapoints:

In [22]:
url = "https://raw.githubusercontent.com/NovaVolunteer/Practice_Application_DS/master/Week%206/anes_values.json"
anes_json = pd.read_json(url, orient="values", typ="series")
anes_json

0     [1.0, 1.0, 76.0, 1960, 1]
1    [2.0, 28.0, 52.0, 1957, 2]
2    [3.0, 100.0, 1.0, 1963, 1]
3     [4.0, 0.0, 69.0, 1980, 1]
4     [5.0, 13.0, 1.0, 1974, 1]
dtype: object

### Converting JSON with a nested structure to a data frame
Use `json_normalize()` from the `pandas.io.json` module to create a data frame. First, import the `json_normalize()` function:

In [23]:
from pandas.io.json import json_normalize

If you load the data directly as a data frame using `pd.read_json()`, and there is nesting in the data, the data frame will keep these structures as strings in the output data:

In [24]:
url = "https://jsonplaceholder.typicode.com/users"
users = pd.read_json(url, typ="frame")
users

,address,company,email,id,name,phone,username,website
0,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...","{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",Sincere@april.biz,1,Leanne Graham,1-770-736-8031 x56442,Bret,hildegard.org
1,"{'street': 'Victor Plains', 'suite': 'Suite 87...","{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",Shanna@melissa.tv,2,Ervin Howell,010-692-6593 x09125,Antonette,anastasia.net
2,"{'street': 'Douglas Extension', 'suite': 'Suit...","{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",Nathan@yesenia.net,3,Clementine Bauch,1-463-123-4447,Samantha,ramiro.info
3,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...","{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",Julianne.OConner@kory.org,4,Patricia Lebsack,493-170-9623 x156,Karianne,kale.biz
4,"{'street': 'Skiles Walks', 'suite': 'Suite 351...","{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",Lucio_Hettinger@annie.ca,5,Chelsey Dietrich,(254)954-1289,Kamren,demarco.info
5,"{'street': 'Norberto Crossing', 'suite': 'Apt....","{'name': 'Considine-Lockman', 'catchPhrase': '...",Karley_Dach@jasper.info,6,Mrs. Dennis Schulist,1-477-935-8478 x6430,Leopoldo_Corkery,ola.org
6,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...","{'name': 'Johns Group', 'catchPhrase': 'Config...",Telly.Hoeger@billy.biz,7,Kurtis Weissnat,210.067.6132,Elwyn.Skiles,elvis.io
7,"{'street': 'Ellsworth Summit', 'suite': 'Suite...","{'name': 'Abernathy Group', 'catchPhrase': 'Im...",Sherwood@rosamond.me,8,Nicholas Runolfsdottir V,586.493.6943 x140,Maxime_Nienow,jacynthe.com
8,"{'street': 'Dayna Park', 'suite': 'Suite 449',...","{'name': 'Yost and Sons', 'catchPhrase': 'Swit...",Chaim_McDermott@dana.io,9,Glenna Reichert,(775)976-6794 x41206,Delphine,conrad.com
9,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...","{'name': 'Hoeger LLC', 'catchPhrase': 'Central...",Rey.Padberg@karina.biz,10,Clementina DuBuque,024-648-3804,Moriah.Stanton,ambrose.net

So instead, load the data into Python using `pd.read_json()` as a series, not a dataframe:

In [25]:
users = pd.read_json(url, typ="series")
users[0]

{'id': 1,
 'name': 'Leanne Graham',
 'username': 'Bret',
 'email': 'Sincere@april.biz',
 'address': {'street': 'Kulas Light',
  'suite': 'Apt. 556',
  'city': 'Gwenborough',
  'zipcode': '92998-3874',
  'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
 'phone': '1-770-736-8031 x56442',
 'website': 'hildegard.org',
 'company': {'name': 'Romaguera-Crona',
  'catchPhrase': 'Multi-layered client-server neural-net',
  'bs': 'harness real-time e-markets'}}

Then use `json_normalize()`: The column names are fairly ugly, but every variable is now stored in a separate column.

In [26]:
users_df = json_normalize(users)
users_df

,address.city,address.geo.lat,address.geo.lng,address.street,address.suite,address.zipcode,company.bs,company.catchPhrase,company.name,email,id,name,phone,username,website
0,Gwenborough,-37.3159,81.1496,Kulas Light,Apt. 556,92998-3874,harness real-time e-markets,Multi-layered client-server neural-net,Romaguera-Crona,Sincere@april.biz,1,Leanne Graham,1-770-736-8031 x56442,Bret,hildegard.org
1,Wisokyburgh,-43.9509,-34.4618,Victor Plains,Suite 879,90566-7771,synergize scalable supply-chains,Proactive didactic contingency,Deckow-Crist,Shanna@melissa.tv,2,Ervin Howell,010-692-6593 x09125,Antonette,anastasia.net
2,McKenziehaven,-68.6102,-47.0653,Douglas Extension,Suite 847,59590-4157,e-enable strategic applications,Face to face bifurcated interface,Romaguera-Jacobson,Nathan@yesenia.net,3,Clementine Bauch,1-463-123-4447,Samantha,ramiro.info
3,South Elvis,29.4572,-164.2990,Hoeger Mall,Apt. 692,53919-4257,transition cutting-edge web services,Multi-tiered zero tolerance productivity,Robel-Corkery,Julianne.OConner@kory.org,4,Patricia Lebsack,493-170-9623 x156,Karianne,kale.biz
4,Roscoeview,-31.8129,62.5342,Skiles Walks,Suite 351,33263,revolutionize end-to-end systems,User-centric fault-tolerant solution,Keebler LLC,Lucio_Hettinger@annie.ca,5,Chelsey Dietrich,(254)954-1289,Kamren,demarco.info
5,South Christy,-71.4197,71.7478,Norberto Crossing,Apt. 950,23505-1337,e-enable innovative applications,Synchronised bottom-line interface,Considine-Lockman,Karley_Dach@jasper.info,6,Mrs. Dennis Schulist,1-477-935-8478 x6430,Leopoldo_Corkery,ola.org
6,Howemouth,24.8918,21.8984,Rex Trail,Suite 280,58804-1099,generate enterprise e-tailers,Configurable multimedia task-force,Johns Group,Telly.Hoeger@billy.biz,7,Kurtis Weissnat,210.067.6132,Elwyn.Skiles,elvis.io
7,Aliyaview,-14.3990,-120.7677,Ellsworth Summit,Suite 729,45169,e-enable extensible e-tailers,Implemented secondary concept,Abernathy Group,Sherwood@rosamond.me,8,Nicholas Runolfsdottir V,586.493.6943 x140,Maxime_Nienow,jacynthe.com
8,Bartholomebury,24.6463,-168.8889,Dayna Park,Suite 449,76495-3109,aggregate real-time technologies,Switchable contextually-based project,Yost and Sons,Chaim_McDermott@dana.io,9,Glenna Reichert,(775)976-6794 x41206,Delphine,conrad.com
9,Lebsackbury,-38.2386,57.2232,Kattie Turnpike,Suite 198,31428-2261,target end-to-end models,Centralized empowering task-force,Hoeger LLC,Rey.Padberg@karina.biz,10,Clementina DuBuque,024-648-3804,Moriah.Stanton,ambrose.net

### Converting DataFrames/CSVs to JSON
To convert a dataframe to a JSON variable in memory, use `df2 = df.to json(orient)`, where `orient` is defined as it is above. Replace `df` with the name of the dataframe object you are converting, and replace `df2` with object you are creating.

In [27]:
anes_csv = pd.read_csv("https://raw.githubusercontent.com/NovaVolunteer/Practice_Application_DS/master/Week%205/anes_example.csv")
anes_csv.head()

,caseid,turnout12,turnout12b,vote12,percent16,meet,givefut,info,march,sign,...,votereg,pid3,pid7,ideo5,newsint,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1.0,1,NaN,2.0,100,1,3,4,1,2,...,1,1,1.0,6,1,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,4,5,4,2,2,...,2,3,4.0,2,3,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,1,1,1,1,1,...,1,2,6.0,4,1,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,5,4,5,2,2,...,1,1,1.0,2,1,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,2,1,3,1,2,...,1,4,5.0,4,1,2,2,3.0,__NA__,2

In [28]:
anes_json = anes_csv.to_json(orient="records")
anes_json[0:200] # the first 200 characters

'[{"caseid":1.0,"turnout12":1,"turnout12b":null,"vote12":2.0,"percent16":100,"meet":1,"givefut":3,"info":4,"march":1,"sign":2,"give12mo":2,"compromise":1,"ftobama":100.0,"ftblack":100.0,"ftwhite":100,"'

In [29]:
anes_json = anes_csv.to_json(orient="columns")
anes_json[0:200] # the first 200 characters

'{"caseid":{"0":1.0,"1":2.0,"2":3.0,"3":4.0,"4":5.0,"5":6.0,"6":7.0,"7":8.0,"8":null,"9":10.0,"10":11.0,"11":12.0,"12":13.0,"13":14.0,"14":15.0,"15":16.0,"16":17.0,"17":18.0,"18":19.0,"19":20.0,"20":21'

In [30]:
anes_json = anes_csv.to_json(orient="split")
anes_json[0:5000] # the first 5000 characters

'{"columns":["caseid","turnout12","turnout12b","vote12","percent16","meet","givefut","info","march","sign","give12mo","compromise","ftobama","ftblack","ftwhite","fthisp","ftgay","ftjeb","fttrump","ftcarson","fthrc","ftrubio","ftcruz","ftsanders","ftfiorina","ftpolice","ftfem","fttrans","ftmuslim","ftsci","reg","demcand","repcand","vote16jb","vote16bc","vote16tc","vote16mr","vote16dt","presjob","lazyb","lazyw","lazyh","lazym","violentb","violentw","violenth","violentm","econnow","econ12mo","pid1d","pid2d","pid1r","pid2r","pidstr","pidlean","lcself","lcd","lcr","lchc","lcbo","lcdt","lcmr","lctc","srv_spend","campfin","immig_legal","immig_numb","equalpay","parleave","crimespend","death","terror_worry","terror_12mo","terror_local","relig_bc","relig_bcstr","relig_srv","relig_srvstr","incgap20","isis_troops","syrians_a","syrians_b","pc_a","pc_b","minwage","healthspend","childcare","getahead","ladder","finwell","warm","warmbad","warmcause","warmdo","freetrade","stopwhite","stopblack","forcewhite","forceblack","stop_12mo","arrested_12mo","charged_12mo","jailed_12mo","convict_12mo","famstop_12mo","stop_ever","arrested_ever","charged_ever","jailed_ever","convict_ever","famstop_ever","pk_deficit","pk_sen","pk_spend","birthright_a","birthright_b","femoff_jobs","femoff_ed","femoff_spend","femoff_issues","lpres_pleased","lpres_immig","lpres_la","vaccine","autism","bo_muslim","bo_confid","amer_ident","race_ident","whitework","whitejob","wguilt1","wguilt2","wguilt3","buycott","boycott","skintone_mob","skintone","skin_discrim","africanam10_1","white10_1","hispanic10_1","asianam10_1","nativeam10_1","other10_1","other10_open","birthyr","gender","race","race_other","educ","marstat","speakspanish","employ","employ_t","faminc","faminc2","state","votereg","pid3","pid7","ideo5","newsint","pew_bornagain","pew_churatd","religpew","religpew_t","ever_vs_12mo_rand"],"index":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,'

In [31]:
anes_json = anes_csv.to_json(orient="index")
anes_json[0:200] # the first 200 characters

'{"0":{"caseid":1.0,"turnout12":1,"turnout12b":null,"vote12":2.0,"percent16":100,"meet":1,"givefut":3,"info":4,"march":1,"sign":2,"give12mo":2,"compromise":1,"ftobama":100.0,"ftblack":100.0,"ftwhite":1'

In [32]:
anes_json = anes_csv.to_json(orient="values")
anes_json[0:200] # the first 200 characters

'[[1.0,1,null,2.0,100,1,3,4,1,2,2,1,100.0,100.0,100,100.0,96.0,36.0,1.0,5.0,76.0,31.0,0.0,84.0,2.0,51.0,62.0,97.0,20.0,100.0,1,1,6.0,null,null,null,1.0,1.0,1,5,5,5,5,5,5,5,5,2,2,null,"__NA__",1.0,"__NA'

To save these files to disk, specify a filename, or a filename and path, for the first parameter:

In [33]:
anes_json = anes_csv.to_json("anes_records.json", orient="records")

Finally, add compression automatically by adding .gzip, .bz2, .zip, or .xz to the end of the file name:

In [34]:
anes_json = anes_csv.to_json("anes_records.zip", orient="records")